.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

/* .descriptionDiv {
  width: 100px;
  height: 100px;
  display:flex;
} */

/* .imageDiv {
  display: flex;
} */

.itemContainer {

 
  
  margin: 50px;

}

.galleryItemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px

}

.descriptionContainer {
  width: 200px;
  height: 200px;
  display: flex;
  border: solid
  
  
}
