.App {
  text-align: center;
  

}

:root {
  background-color: #f4c33e
}

.App-header {
  background-color: #1976d2 ;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

h2 {
  color: #1976d2 
}

.App-title {
  font-size: 1.5em;
}

/* .descriptionDiv {
  width: 100px;
  height: 100px;
  display:flex;
} */

/* .imageDiv {
  display: flex;
} */

.itemContainer {
  margin: 50px;
}

.galleryItemsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px

}

.descriptionContainer {
  width: 200px;
  height: auto;
  /* display: flex; */
  text-align: center;
  padding-top: 15%;
  padding-bottom: 25%;
 

  /* border: solid */
  
  
}

.img {
  width: 200px;
  border-radius: 10%;
}


